.SingleDatePickerInput {
  background-color: transparent;
}
.SingleDatePickerInput__withBorder {
  border-radius: 6px;
}
.DateInput {
  background-color: transparent;
}
.DateInput_input {
  background-color: transparent;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px 16px;
}
.DateInput_input__focused {
  border-bottom-color: transparent;
}
.SingleDatePicker_picker__directionLeft {
  left: -36px !important;
  top: 0 !important;
}
.DateInput_fang {
  display: none;
}

@media (min-width: 500px) {
  .SingleDatePicker_picker__directionLeft {
    left: 0 !important;
    top: 66px !important;
  }
  .DateInput_fang {
    display: block;
  }
}
